<br />

<div class="row">
  <div class="large-12 columns">


    <div class="row">
      <div class="large-12 columns">

        <nav class="top-bar" data-topbar>

        </nav>

      </div>
    </div>

    <div class="row">

      <div class="large-4 small-12 columns">

        <img src="http://placehold.it/500x500&text=Logo">

        <div class="hide-for-small panel">
          <h3><%= @current_user.username %></h3>
          <h5 class="subheader"><%= @current_profile.bio %>
          </h5>
        </div>

      </div>

      <div class="large-8 columns">
        <div class="row">

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/1000x1000&text=Thumbnail">

            <div class="panel">
              <h5>Image 1</h5>
              
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Image 2</h5>
              
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">

            <div class="panel">
              <h5>Image 3</h5>
              
            </div>
          </div>


          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">

                  <div class="large-10 small-6 columns">
                    <strong>This Site Is Managed By<hr/></strong>

                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>

                </div>
              </div>
            </div>



          </div>
        </div>
      </div>

    </div>
  </div>
